@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roman"; /* Name your font family */
  src: url("./fonts/roman.ttf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Bubble"; /* Name your font family */
  src: url("./fonts/bubble.ttf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Cartoon"; /* Name your font family */
  src: url("./fonts/Cartoon.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Rubber"; /* Name your font family */
  src: url("./fonts/Rubber.ttf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Tropic"; /* Name your font family */
  src: url("./fonts/Tropic.ttf"); /* Locate the .ttf file within your directory*/
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* .card {
  position: sticky;
  top: 0;
  height: 100dvh;
  width: 100dvw;
} */

.wrapper {
  background: radial-gradient(
    circle,
    #4dc7ff95 0%,
    rgba(31, 172, 238, 0.548) 70%
  );
  /* #fde9b8 */
}
.wrapper2 {
  background: radial-gradient(
    circle,
    #4dc7ffe5 0%,
    rgba(31, 172, 238, 0.962) 70%
  );
  /* #fde9b8 */
}
.Wrappers {
  /* position: relative;

  background: radial-gradient(circle, #1c8cc7 0%, #228ac7 70%); */

  border-radius: 50% 50% 50% 50% / 70% 70% 100% 100%;
}

.Wrappers img:hover {
  scale: calc(1.1);
  animation: dolphin 2s ease-in-out;
}

.arrow {
  transform: scaleX(-1);
  animation: bounces 3s infinite;
}

@keyframes bounces {
  0%,
  100% {
    transform: translateY(-25%) scaleX(-1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0%) scaleX(-1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes dolphin {
  0% {
    transform: rotate(45deg);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }
  20% {
    transform: rotate(90deg);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }
  40% {
    transform: rotate(135deg);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }
  60% {
    transform: rotate(180deg);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }
  100% {
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.animated-text {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  animation: rise-up 0.4s ease-in-out forwards;
}

/* Keyframes for translating, scaling, and fading */
@keyframes rise-up {
  0% {
    transform: translate(-50%, 0) scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1 translate(-50%, -6rem);
  }
  100% {
    transform: translate(-50%, -12rem) scale(1.5);
    opacity: 1;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* VIDEO SECTION */
.Video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -10;
}

.videoDiv {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -10;
}

.videoDiv video {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.7;
  z-index: -10;
}

.videoDiv::after {
  content: "";
  position: absolute;
  background: rgba(10, 84, 107, 0.307);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
  z-index: -10;
}
