@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roman"; /* Name your font family */
  src: url("./fonts/roman.ttf"); /* Locate the .ttf file within your directory*/
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background: radial-gradient(circle, #ead49c 0%, #b63f09 70%);
  /* #fde9b8 */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
