@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roman"; /* Name your font family */
  src: url("./fonts/roman.ttf"); /* Locate the .ttf file within your directory*/
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background: radial-gradient(circle, #ead49c 0%, #b63f09 70%);
  /* #fde9b8 */
}
.animated-text {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  animation: rise-up 0.5s ease-in-out forwards;
}

/* Keyframes for translating, scaling, and fading */
@keyframes rise-up {
  0% {
    transform: translate(-50%, 0) scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1 translate(-50%, -6rem);
  }
  100% {
    transform: translate(-50%, -12rem) scale(1.5);
    opacity: 1;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
